<div class="content-wrapper">
  <h1>Profile page</h1>


  @if (this.showError) {
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="hideError()"></button>
      <h4 class="alert-heading">{{ this.errTitle }}</h4>
      {{ this.errMessage }}
    </div>
  }

  @if (this.passwordChangeSuccess) {
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="hidePasswordChangeSuccess()"></button>
      <h4 class="alert-heading">Password updated</h4>
      Password was successfully updated
    </div>
  }

  @if (this.dataFetched) {
    <div>
      <app-change-password [loading]="changePasswordLoading" [passwordErrorObservable]="this.changePasswordErrorSubject.asObservable()" (submitEmitter)="this.changePassword($event)"></app-change-password>
    </div>
  } @else {
    <app-loader [loadingFailed]="this.loadingFailed" (retryEmitter)="this.fetchMyInfo()"></app-loader>
  }

</div>