<div class="card login-card change-password-grid">
    <h2>Change password</h2>
    <app-password [label]="'Old password'" (passwordChangeEvent)="this.oldPasswordChange($event)" [error]="this.error.oldPassword"></app-password>
    <app-password [label]="'New password'" (passwordChangeEvent)="this.newPasswordChange($event)" [error]="this.error.newPassword"></app-password>
    <app-password [label]="'Confirm new password'" (passwordChangeEvent)="this.confirmNewPasswordChange($event)" [error]="this.error.confirmNewPassword"></app-password>

    <button type="button" class="btn btn-primary w-100" (click)="this.submit()" [disabled]="this.loading">Confirm</button>
    <div class="text-center">
        <p class="text-danger">{{this.error.main}}</p>
    </div>
</div>