<div class="alert alert-dismissible alert-danger" *ngIf="this.errorIsShown">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="hideError()"></button>
    <h4 class="alert-heading">{{ this.errTitle }}</h4>
    {{ this.errMessage }}
</div>

<div class="alert alert-dismissible alert-secondary" *ngIf="this.flashMessage != null">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="hideFlashMessage()"></button>
    {{ this.flashMessage }}
</div>

<div class="content-wrapper">
    <form class="col">
        <div>
            <label for="login">Username:</label>
            <input type="text" class="form-control" autocomplete="off" id="login" name="login" [(ngModel)]="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" class="form-control" autocomplete="off" id="password" name="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-outline-primary" (click)="onSubmit()">Se connecter</button>
    </form>
</div>