/* You can add global styles to this file, and also import other style files */

$primary: #1f4d48;
$secondary: #fcf1ca;
//$danger: #8C1C13;
//$warning : #D97706;
$body-bg: #1C1B18;
$body-color: $secondary;

@use "bootstrap/scss/bootstrap" with (
    $primary: $primary,
    $secondary: $secondary,
    //$danger: $danger,
    //$warning: $warning,
    $body-bg: $body-bg,
    $body-color: $body-color,
    $table-color: $body-color
);

body{
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}
.show {
    display: block !important;
}

.noCursor:hover{
    cursor:default;
}
.cardImg{
    border: 3px solid black;
    max-width: 60%;
    max-height: 150px;
}

.checkedStar{
    color: #F5FC50;
}
.uncheckedStar{
    color: white;
}
.uncheckedStar:hover{
    color: #FBFFC0;
}

.margin-left{
    margin-left: 1rem;
}

.margin-right{
    margin-right: 1rem;
}

.margin-top{
    margin-top: 1rem;
}

.margin-bot{
    margin-bottom: 1rem;
}

.content-wrapper{
    margin: 1em auto;
    max-width: 1400px;
    width: 95%;
}

.cursor-pointer{
    cursor: pointer;
}


// For the ng-select

ng-select .ng-dropdown-panel {
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    margin-top: 0.5rem;
    background-color: #333 !important;
}

ng-select .ng-option {
    background-color: #333 !important;
    color: #fff !important;
}

ng-select .ng-option.ng-option-selected {
    background-color: #444 !important;
}

ng-select .ng-value {
    margin-left: 2.5px;
    margin-right: 2.5px;
    border: 1px solid white;
    border-radius: 10%;
    color: #fff !important;
}

ng-select .ng-value-label {
    margin-right: 5px;
}

ng-select .ng-value .ng-value-icon {
    margin-right: 5px;
    margin-left: 5px;
    color: red !important;
}


.img-button{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    width: 2rem;
}

.img-button:hover{
    transition: 0.5s;
    opacity: 1;
}

.relative-container{
    position: relative;
}

//Loader

.loader {
    border: 5px solid $primary;
    border-top: 5px solid $secondary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.6s linear infinite;
}
.loader-text{
    position: absolute;
    top: 60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container{
    min-width: 15rem;
    min-height: 80px
}


//Nav elements - placed here because they need the color variables

.custom-nav-item{
    margin: 0.6rem;
    color: mix($secondary, gray, 60%);
    padding: 0.5rem;
    transition: 1s;
    text-decoration: none;
}

.custom-nav-item:hover{
    color: $secondary;
    background-color: rgba($color: #000, $alpha: 0.4);
    border-radius: 15px;
    transition: 1s;
}

.active{
    color: $secondary !important;
}

.mytooltip{
    color: $secondary !important;
}


.mytooltip .tooltip-inner {
    background-color: black;
    color: $secondary !important;
}

.mytooltip .arrow::before {
    border-top-color: darkgreen;
}