<div class="margin-top d-flex text-center justify-content-center">
    <div class="alert alert-dismissible alert-danger" *ngIf="this.showError">
        <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="hideError()"></button>
        <h4 class="alert-heading">{{ this.errTitle }}</h4>
        {{ this.errMessage }}
    </div>

    <ng-template #NotFetched>
        <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Data is being fetched from the server, please wait.
        </div>
    </ng-template>
</div>

<div  *ngIf="this.dataWasFetched else NotFetched">
    <app-search-filters [tagsList]="tags!" (filterChangeEmitter)="receiveFilterChangeEvent($event)"></app-search-filters>

    <ng-container *ngIf="this.books != [] else Empty">
        <app-book-list [books]="this.books!" (bookClickedEventEmitter)="receiveBookClickedEvent($event)"></app-book-list>
    </ng-container>

    <ng-template #Empty>
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">No results</h4>
            No results could be found for the current search filters
        </div>
    </ng-template>
</div>