<div class="d-flex justify-content-center mt-2">
    <div class="d-flex flex-grow-1" style="max-width: 1000px;">
        <div class="m-1 me-4">
            <label for="login">{{this.label}}</label>
        </div>
        <div class="flex-grow-1">
            <input [type]="this.showPassword ? 'text' : 'password'" class="form-control" name="password" [placeholder]="this.label" [(ngModel)]="this.password" (change)="onPasswordChange()">
        </div>
        <div class="align-self-center ms-2">
            <img
            (click)="togglePasswordVisibility()"
            class="marginSides img-button"
            [classList]=""
            [src]="this.showPassword ?  'assets/password-show.png' : 'assets/password-hide.png'"
            alt="toggle password visibility">
        </div>
    </div>
</div>
<div class="text-center mb-3">
    <small class="text-danger" *ngIf="this.error != ''">{{ this.error }}</small>
</div>