<div class="d-flex justify-content-center relative-container loader-container">
    <ng-container *ngIf="!this.loadingFailed else Retry">
        <div class="loader"></div>
        <p class="loader-text">Data is being fetched, please wait.</p>
    </ng-container>
    <ng-template #Retry>
        <div class="d-inline-block">
            <button type="button" class="btn btn-primary" (click)="retry()">Retry</button>
        </div>
        <p class="loader-text">Data couldn't be fetched from the server, please try again</p>
    </ng-template>
</div>